[isort]
line_length = 125

[flake8]
max-line-length = 125
max-line-complexity = 15
max-local-variables = 6
max-module-members = 12

ignore =
    # Missing docstring in public module
    D100,
    # Missing docstring in public class
    D101,
    # Missing docstring in public method
    D102,
    # Missing docstring in public function
    D103,
    # Missing docstring in public package
    D104,
    # Missing docstring in magic method
    D105,
    # Missing docstring in __init__
    D107,

    # Missing parameter(s) in Docstring
    DAR101,

    # Missing "Returns" in Docstring
    DAR201,

    # Found string constant over-use
    WPS226,

    # f-strings
    WPS305,

    # allow 'pass' (but also 'global','local' & 'del')
    WPS420,

    I001,
    I004,
    I005,

