[isort]
line_length = 125

[flake8]
max-line-length = 125
max-line-complexity = 15
max-local-variables = 6
max-module-members = 12

ignore =
    D100, # Missing docstring in public module
    D101, # Missing docstring in public class
    D102, # Missing docstring in public method
    D103, # Missing docstring in public function
    D104, # Missing docstring in public package
    D105, # Missing docstring in magic method
    D107, # Missing docstring in __init__
    DAR101, # Missing parameter(s) in Docstring
    DAR201, # Missing "Returns" in Docstring
    WPS226, # Found string constant over-use

    WPS305, # f-strings
    WPS420, # allow 'pass' (but also 'global','local' & 'del')

    I001,
    I004,  # isort found an unexpected blank line in imports
    I005,  # isort found an unexpected missing import

